{# product/show.html.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.name }}</title>
</head>
<body>
<link href="{{ asset('build/tailwind.css') }}" rel="stylesheet">
{% include './navbar.html.twig' %}
    <div style="background-color: blue; color: red; border: 5px solid black; border-radius: 0.375rem;" class="text-black">              
        <div class="name">{{ product.name }}</div>
        <div class="brand">{{ product.brand }}</div>
        <div class="price">{{ product.price }}</div>
    </div>
</body>
</html>
