{# templates/product/product-form-create.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Create New Product{% endblock %}

{% block body %}
{% include './navbar.html.twig' %}
    <h1>Create New Product</h1>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.price) }}
    {{ form_row(form.brand) }}
    <div style="background-color: green; border: none; color: white; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border-radius: 5px;"> {{ form_row(form.save) }} </div>
    {{ form_end(form) }}
{% endblock %}
