{# templates/product/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
{% include './navbar.html.twig' %}
    <h1>Edit Product</h1>
    {{ form_start(form) }}
    {{ form_row(form.name, {'label': 'Product Name: ' ~ product.name }) }}
    {{ form_row(form.price, {'label': 'Product Price: ' ~ product.price}) }}
    {{ form_row(form.brand, {'label': 'Product Brand: ' ~ product.brand}) }}
    <div style="background-color: green; border: none; color: white; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border-radius: 5px;">{{ form_row(form.save, {'label': 'Update'}) }} </div>
    {{ form_end(form) }}
        <form action="{{ path('product_delete', {'id': product.id}) }}" method="post">
            <button type="submit" style="background-color: green; border: none; color: white; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border-radius: 5px;">Delete Product</button>
        </form>
{% endblock %}
