<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<nav class="bg-gray-800 shadow z-10 h-16">
    <div class="container mx-auto px-4">
        <div class="flex items-center justify-between h-16 navbar-content">
            <!-- Logo -->
            <div class="flex-shrink-0 logo">
                <img src="{{ asset('images/apexclimbingco.jpg') }}" alt="Apex Logo" width="100" height="100">
            </div>
            <!-- Navigation links -->
            <div class="hidden md:flex nav-links">
                <a href="{{ path('home') }}">Home</a>
                <a href="{{ path('about') }}">About Us</a>
                <a href="{{ path('bouldering') }}">Bouldering</a>
                <a href="{{ path('products') }}">Products</a>
                {% if  app.user and 'ROLE_ADMIN'in app.user.roles %}
                <a href="{{ path('product_new') }}">Add Product</a>
                {% endif %}
                <a href="{{ path('team') }}">The Team</a>
                <a href="{{ path('wall') }}">The Wall</a>
                <a href="/{{ app.user ? 'logout' : 'login' }}" @click="isOpen = false">{{ app.user ? 'Logout ' ~ app.user.email : 'Login' }}</a>
                {% if not app.user %}
                <a href="{{ path('app_register') }}">Register</a>
                {% endif %}
            </div>
            </div>
        </div>
    </div>
</nav>
</body>
</html>